.player-console {
  display: none;
}
#rulesDefinitions {
  display: none;
}
.mids {
  height: 234px;
  width: 258px;
  /* padding-left: 36px;
  padding-right: 180px;
  padding-top: 188px;
  padding-bottom: 394px;*/
}
h3 {
  color: blue;
}
.hams{
  height: 234px;
  width: 258px;
}
